@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
body {
  font-family: 'Teko', sans-serif;
}

.siz {
  height: auto !important;
  width: 20% !important;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 835px) {
  .siz {
    height: auto !important;
    width: 50% !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.con {
  border-bottom: ridge;
  border-top: ridge;
  border-color: gold;
  margin-top: 0.5rem;
  /* height: 10rem; */
}

.ac {
  margin-top: 0.8rem;
}

.flex {
  display: flex !important;
  overflow-x: auto;
  flex-wrap: wrap;
}